<header class="bg-light bg-gradient py-3 container-fluid">
    <div class="row row-cols-12 justify-content-between align-items-center">
        <div class="col-auto"></div>
        <div class="col-auto">
            <h2>
                <span class="badge bg-dark">Cloud file storage</span>
            </h2>
        </div>
        <div class="col-auto"></div>
        <div class="col-auto"></div>
        <div class="col-auto"></div>
        <div th:if="${session.user}" class=" col-auto d-flex align-items-center">
            <form action="/search" method="get" class="d-flex me-2">
                <input name="name" type="text" class="form-control me-2" placeholder="имя файла или папки..">
                <button type="submit" class="btn btn-outline-dark">искать</button>
            </form>
        </div>
        <div th:unless="${session.user}" class="col-auto">
            <a href="/login" class="btn btn-outline-secondary">войти</a>
            <a href="/registration" class="btn btn-outline-dark">регистрация</a>
        </div>
        <div class="col-auto"></div>
        <div class="col-auto"></div>
        <div class="col-auto"></div>
        <div th:if="${session.user}" class="col-auto d-flex align-items-center">
            <p class="text-primary mb-0 mr-2" th:text="${session.user.username}">имя пользователя</p>
            <a href="/logout" class="btn btn-outline-dark m-lg-2">выйти</a>
        </div>
        <div class="col-auto"></div>
    </div>
</header>