<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/home.page.css}" rel="stylesheet">

</head>
<body>

<div class="container-fluid" th:insert="~{fragment/header-fragment.html :: header}">

</div>

<div class="container">
    <div class="row row-cols-2">
        <!--        left part-->
        <div class="col-3 row row-cols-1">
            <div class="col">
                <form method="post" action="/" enctype="multipart/form-data">
                    <input type="file" name="files">
                    <input type="hidden" name="path" th:value="${path}">
                    <button type="submit" class="btn btn-primary mb-2">Загрузить файл</button>
                </form>
            </div>
            <div class="col">
                <form method="post" action="/" enctype="multipart/form-data">
                    <div class="input-group">
                        <input type="file" name="files" webkitdirectory>
                        <input type="hidden" name="path" th:value="${path}">
                        <button type="submit" class="btn btn-primary mb-2">Загрузить папку</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <form method="post" action="/">
                    <input type="text" name="name" placeholder="имя папки">
                    <input type="hidden" name="path" th:value="${path}">
                    <button type="submit" class="btn btn-primary mb-2">Создать папку</button>
                </form>
            </div>
        </div>

        <!--        right part-->
        <div class="col-9 row row-cols-1">
            <!--            breadcrumbs-->
            <div class="col-12 align-self-center">
                <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';"
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" onclick="sendRequest('/')">
                        <a href="#">главная</a>
                    </li>
                    <li th:each="part, iterStat : ${breadcrumb}"
                        th:classappend="${iterStat.last} ? 'breadcrumb-item active' : 'breadcrumb-item'"
                        th:attr="aria-current=${iterStat.last ? 'page' : null}">
                        <a href="#" th:unless="${iterStat.last}" th:text="${part.getKey()}"
                           th:value="${part.getValue()}"
                           onclick="sendRequest(this.getAttribute('value'))"></a>
                        <a th:if="${iterStat.last}" th:text="${part.getKey()}"></a>
                    </li>
                </ol>
                </nav>
            </div>

            <div class="row row-cols-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">имя</th>
                        <th scope="col">переименовать</th>
                        <th scope="col">скачать</th>
                        <th scope="col">удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="name: ${content}" th:if="${not name.isEmpty()}">
                        <th scope="row" th:if="${not name.isEmpty() && not name.endsWith('/')}" th:text="${name}">
                            <img th:src="@{/image/file_img.png}" alt="Файл" style="width: 30px; height: 30px;">
                        </th>
                        <th scope="row" th:if="${not name.isEmpty() && name.endsWith('/')}">
                            <form action="/" method="get">
                                <a th:href="'/?path=' + (${path != null ? path + name : name})"
                                   th:text="${name.substring(0, name.length() - 1)}">
                                    <img th:src="@{/image/folder_img.png}" alt="Папка"
                                         style="width: 30px; height: 30px;">
                                </a>
                            </form>
                        </th>
                        <td>
                            <input th:id="${name}" type="text" name="newName">
                            <button th:data-oldName="${name}" th:data-path="${path}"
                                    onclick="rename(this.getAttribute('data-oldName'), this.getAttribute('data-path'))"
                                    class="btn btn-sm btn-outline-dark" type="button">
                                >
                            </button>
                        </td>
                        <td>
                            <!--                        нужно будет сделать для скачивания    -->
                            <form method="get" action="/download">
                                <input type="hidden" name="path" th:value="${path == null ? name : path + name}">
                                <button class="btn btn-sm btn-outline-dark" type="submit">></button>
                            </form>
                        </td>
                        <td>
                            <button th:data-name="${name}" th:data-path="${path != null ? path : ''}"
                                    onclick="remove(this.getAttribute('data-name'), this.getAttribute('data-path'))"
                                    class="btn btn-sm btn-outline-danger" type="button">
                                x
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function rename(oldName, path) {
        const url = 'http://localhost:8080/';

        const data = new URLSearchParams();
        data.append('newName', document.getElementById(oldName).value);
        data.append('oldName', oldName);
        data.append('path', path);


        const options = {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: data
        };

        fetch(url, options)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(html => {
                document.open();
                document.write(html);
                document.close();
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);

            });
    }

    function remove(name, path) {
        const url = 'http://localhost:8080/';

        if (path === null) {
            path = '';
        }

        const data = new URLSearchParams();

        data.append('name', name);
        data.append('path', path);


        console.log(data.get('name'));
        console.log(data.get('path'));

        const options = {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: data
        };

        fetch(url, options)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(html => {
                document.open();
                document.write(html);
                document.close();
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);

            });
    }
</script>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/breadcrumb.js}"></script>
<!--<script th:src="@{/js/dropdown.js}"></script>-->
</body>
</html>